body{
  background-color:black;
  color:pink;
}
div{
  background-color:lightgray;
  color:blue;
  text-align:left;
  //direction:rtl;
  //unicode-bidi: bidi-override;
  vertical-align: bottom;
  //text-decoration:line-through;
  text-transform:lowercase;
  text-indent:50px;
  letter-spacing:2px;
  line-height:1.2;
  word-spacing:20px;
  //white-space: nowrap;
}